/*Estrutura do Layout*/
/* corpo principal do layout*/
body{ background: #f1f0ee;}

/*@font-face kt by fons2u (http://www.fonts2u.com)*/
@font-face{
	font-family:"Duepuntozero";
	src:url("fonts/duepuntozero_regular.eot?") format("eot"),
	url("fonts/duepuntozero_regular.woff") format("woff"),
	url("fonts/duepuntozero_regular.ttf") format("truetype"),
	url("fonts/duepuntozero_regular.svg#Duepuntozero") format("svg");
	font-weight:normal;
	font-style:normal;
}
/*Util*/
.clear{clear: both;}
/*formating*/	
h2{
	font-family: Duepuntozero;
	font-size: 40px;
	font-weight: normal;
	border-bottom: 1px solid #cec5c0;
	padding-bottom: 10px;
}
/* Estrutura do Layout*/
#main{
	width: 1000px;
	margin: auto;
	min-height; 600px;
	position: relative;
}
/* Div que irá envolver os elementos do Top */
#header-container{
	height: 213px;
	background: #251b17;
	padding: 0px;
	margin: 0px;
	padding-top: 53px;
}
#header{
	height: 214px;
	background: #2f231e;
	border: solid 1px #4a3830;
	border-bottom: nome;
}
#header h3{
	float: left;
	color: #a68a7d;
	font-size: 19px;
	font-family: Helvetica;
	font-weight: normal;
	width: 510px;
	text-align: justify;
	padding: 10px;
	padding-left: 25px;
	border-left: 1px solid #4e3b33;
}
#header h3 a{color:#fff; text-decoration:nome;}
#content{
	min-height: 350px;
	background: #f7f5f4;
}
/* Rodapé do Layout */
#footer{
	background: #3b2c25;
	height: 94px;
	width: 1000px;
	margin: auto;
}
/* Conteudo dentro do Rodape */
#footerExtended{
	background: #291e18;
	width: 100%;
}
#headerExtended{
	background:url(../images/bg.jpg) repeat-x;
	width: 100%;
	height: 453px;
	position: absolute;
}
#logo{
	position: relative;
	top: -140px;
	left: -30;
	width: 300px;
	float: left;
	margin-right: 30px;
}
#logo-text{position:absolute; bottom:110px; right: -30px;}

/*begin Main menu */

#nav{float: right; position: relative; left: 50px; top: -30px;}
#nav ul{
	list-style: none;
	display: inline;
}
#nav li{
	display: inline;
	float: left;
	margin-right: 90px;
}
/* Menu */
#nav a{
	color: #c7b18d;
	font-size: 12px;
	text-transform: uppercase;
	text-decoration: none;
	display: block;
	
	background:url(../images/menu-sprite.png) no-repeat;
	padding-top: 47px;
	height: 15px;
	width: 37px;
	
	/* padding (espasso interno nos 4 cantos) */
}
#nav #home{background-position: 0px 3px;}
#nav #work{background-position: -37px 5px;}
#nav #about{background-position: -74 7px;}
#nav #contact{background-position: -111px 15px;}
/*fim do Layout

/* Home Contente*/
.whatWedo{
	width: 370px;
	float: left;
}
.whatWedo dl dt{
	font-size: 28px;
	color: #745459;
	font-family: Duepuntozero;
	background: url('../imagens/what-we-do.png') no-repeat;
	padding-left: 53px;
	height: 26px;
	padding-top: 10px;
	margin-bottom: 15px;
}
.whatWedo dl td#web{
	background-position: 0px 0px;
	height: 23px
}
.whatWedo dl dt#graphic{
	background-position: 0px -35px;
	height: 23px;
}
.whatWedo dl dt#usability{background-position: 0px -68px;}

.whatWedo dl dd{
	font-size: 13px;
	font-family: Arial, sans-serif;
	color: #645a56;
}
.quotes{
	float: left;;
	width: 270;
	margin-left: 10px;
}